body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #00839B;
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 100px;
    margin-left: calc(50% - 400px);
}

.left-column {
    float: left;
    width: 40%;
    padding: 40px;
    margin-top: 20px;
    background-color: #2E62B7;
    background-image: url(../img/hill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.main-title {
    display: inline-block;
    width: 100%;
    font-size: 32px;
    font-weight: normal;
}

.bottom-links {
    display: inline-block;
    width: 100%;
}

.bottom-links > .link {
    color: #fff;
    font-size: 14px;
}

.bottom-links > .symbol {

}

.right-column {
    float: left;
    width: 60%;
    padding: 60px;
    background-color: #fff;
}

.close {
    display: inline-block;
    background-color: red;
}