body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

body {
    background-color: #00839B;
}

main {
    display: inline-block;
    width: 800px;
    margin-top: 100px;
    margin-left: calc(50% - 400px);
}

main > div:first-child {
    float: left;
    width: 40%;
    padding: 40px;
    margin-top: 20px;
    background-color: #2E62B7;
}

main > div:last-child {
    float: left;
    width: 60%;
    padding: 60px;
    background-color: #fff;
}